{% extends 'layout.html' %} 

{% block content %}
<h1>Listado de articulos</h1>

{%if messages%}
    {%for message in messages%}
        {{message}}
    {%endfor%}
{%endif%}
<ul>
    {% for articulo in articulos %}
        <article class='article'>   
        {%if articulo.image != null and articulo.image.url != null and articulo.image.url|length >= 1  %}
        <div class='image'>    
            <img src="{{articulo.image.url}}"/>
        </div>
        {%endif%}
         <div data>
           {{articulo.title}}
        <a href="{% url 'borrar' id=articulo.id %}"> eliminar </a>
        </div> 
        {%empty%}
            <p>no hay articulos</p>
        <div class='clearfix'></div>
        </article>
    {% endfor %}
    </ul>
 
{% endblock %}