<!--hacer ficheros con templates nos sirve para diferenciar completamente
el codigo de html que retornamos de las funciones y el codigo python-->
{% extends 'layout.html' %} 

{% block content %}
<h1>inicio</h1>

{{mivariable}}<!--los dobles corchetes me permiten acceder a variables-->

{%if nombre %} <!--esto me permite usar todos los operadores conocidos-->
    {{nombre}}
{%else%}
    <strong> el nombre no existe</strong>
{% endif%}


<p> años hasta el 2050: </p>
{% endblock %}
<!-- para vincular la vista usare el metodo render en las views-->

{% comment " esto es un comentario de django" %}
todo lo que este aca adentro esta comentado 
{% endcomment %}