{% load static %}
<!DOCTYPE html>
<html lang = es>
    <head>
        <meta charset="utf-8" />
        <title>sitio web django valentina carrillo</title>
        <!--enlazar archivo css-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    </head>
    <body>
        <header>
            <div id="logotipo">
            <img src="{%static 'images/logo.png'%}"></img>
            <h1>sitio web con django</h1>
            </div>
        </header>

        <h1>{% block title%}
            {% endblock %}
        </h1>

        <nav>
        <ul>
            <!-- Tambien puedo tener rutas dinamicas pasando al menu un href con el nombre de mis rutas-->
            <li> <a href = '{% url 'inicio' %}'> inicio </a> </li>
            <li> <a href = '/holamundo'> hola mundo </a> </li>
            <li> <a href = '/pagina-pruebas'> pagina pruebas </a> </li>
            <!--de esta forma tambien puedo pasar los parametros de forma dinamica-->
            <li> <a href = '{% url 'contactos' 'nombre' %}'> pagina contactos </a> </li>
        </ul>
        </nav>
        <div class="barra">
            <span class="esquina-izquierda"></span>    
            <span class="relleno"></span>   
            <span class="esquina-derecha"></span>  
        </div> 

        <!--para que esto sirva como plantilla layout crearemos bloques
        y con las llaves y porcentajes sustituimos contenido por otros templates,
        para eso dentro de cada template extendimos a que bloque sustituiran-->
        <div id="content">
            <div class="box">
            <h2 class = 'title'> titulo de prueba</h2>
            {% block content%}
            <strong>contenido por defecto</strong>
            {% endblock %}
        </div>
        </div>

        <footer>master en python curso
            - {% now 'Y/m/d'%} <!-- django tambien tiene esta funcionalidad para obtener 
            fechas desde el servidor-->
        </footer>
    </body>
</html>
