/*la carpeta static se usa para todo contenido estatico como imagenes, css etc
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
}*/

*{ /*este selector se usa para que se apliquen los estilos a todos los elementos de la pagina*/
font-family: 'Courier New', Courier, monospace;
text-decoration: none;
margin: 2px;
padding: 1px;

}

body{
    background-color: whitesmoke;

}

header{
    width: 1212px;
    height: 140px;
    background-color: black;
    color: white;
    margin: auto;
}

#logotipo{
    width: 35%;
    height: 140px;
    margin: auto;
    padding-top: 20px;
}

#logotipo img{
    display: block;
    float: left;
    width: 60px;
    margin-top: 20px;
    margin-right: 10px;
}

#logotipo h1{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    color: #2ba977;
}