/*la carpeta static se usa para todo contenido estatico como imagenes, css etc
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
}*/

*{ /*este selector se usa para que se apliquen los estilos a todos los elementos de la pagina*/
font-family: 'Courier New', Courier, monospace;
text-decoration: none;
margin: 2px;
padding: 1px;

}

body{
    background-color: whitesmoke;

}

header{
    width: 1212px;
    height: 140px;
    background-color: black;
    color: white;
    margin: 0 auto;
}

#logotipo{
    width: 35%;
    height: 140px;
    margin: auto;
    padding-top: 20px;
}

#logotipo img{
    display: block;
    float: left;
    width: 60px;
    margin-top: 20px;
    margin-right: 10px;
}

#logotipo h1{
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    color: #2ba977;
}

nav{
    width: 1250px;
    height: 50px;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
}

nav ul{
    list-style: none;
    text-decoration: none;
}

nav ul li{
    line-height: 40px;
    float: left;
}

nav ul li a{
    display: block;
    padding: 0px 20px 0px 20px ;
    color: #d1d4d6;
}

nav ul li a:hover{
    background-color: #2ba977;
    box-shadow: 0px 0px 5px #333333 inset;
    color:white;
    transition: all 300ms;
}

.barra{
    width: 1250px;
    margin: 0 auto;
    margin-bottom: 140px;
}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}

.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}

.relleno{
    display: block;
    width: 1190px;
    background-color: #2b2f30;
    height: 10px;
    float: left;
}